In [2]:
import pandas as pd
import numpy as np

In [11]:
data = {'Country':['India','USA','China','Russia','China','USA','India','Russia','India'],
        'year':['2010','2015','2014','2016','2015','2010','2009','2008','2009'],
        'GDP/LITR':['GDP','GDP','GDP','GDP','GDP','LITR','LITR','LITR','LITR'],
        'VALUES':[52,56,54,53,52,36,62,39,40]}

In [12]:
df=pd.DataFrame(data)

In [13]:
df

  Country  year GDP/LITR  VALUES
0   India  2010      GDP      52
1     USA  2015      GDP      56
2   China  2014      GDP      54
3  Russia  2016      GDP      53
4   China  2015      GDP      52
5     USA  2010     LITR      36
6   India  2009     LITR      62
7  Russia  2008     LITR      39
8   India  2009     LITR      40

In [14]:
pd.pivot_table(df,index=['Country'],aggfunc='sum')

         VALUES
Country
China       106
India       154
Russia       92
USA          92

In [15]:
pd.pivot_table(df,index=['Country'],aggfunc='mean')

            VALUES
Country
China    53.000000
India    51.333333
Russia   46.000000
USA      46.000000